# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#

version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout
      - run: sudo -E apt-get -yq remove texlive-binaries --purge
        run: sudo apt-get update
        run: sudo apt-get install libatlas-dev libatlas3gf-base
        run: sudo apt-get install build-essential python-dev python-setuptools
      # install numpy first as it is a compile time dependency for other packages
        run: pip install numpy
