# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#

version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout
      - run: sudo -E apt-get -yq remove texlive-binaries --purge
        run: sudo apt-get update
        run: sudo apt-get install libatlas-dev libatlas3gf-base
        run: sudo apt-get install build-essential python-dev python-setuptools
      # install numpy first as it is a compile time dependency for other packages
        run : sudd pip install numpy
        run: sudo pip install --upgrade scipy
        run: sudo pip install --upgrade matplotlib
        run: sudo pip install --upgrade setuptools
        run: sudo pip install --upgrade nose
        run: sudo pip install --upgrade coverage
        run: sudo pip install --upgrade sphinx
        run: sudo pip install --upgrade pillow
        run: sudo pip install --upgrade sphinx-gallery
        run: sudop ip install --upgrade sphinx_rtd_theme
        run: sudo pip install --upgrade networkx pandas
      # Installing required packages for `make -C doc check command` to work.
        run: sudo -E apt-get -yq update
        run: sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install dvipng texlive-latex-base texlive-latex-extra
        run: sudo ip install --upgrade cython numpydoc
        run: sudo pip install --upgrade scikit-learn
        run: sudo pip install --upgrade seaborn
